body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.taxiAttr {
  background-color: aquamarine;
  width: 120px;
  }

/* Bonus */
.taxiAttr {
  background-color: rgb(22, 177, 234);
  width: 120px;
  padding: 10px 20px;
  margin: 5px;
  display: inline-block;
  border: 5px solid rgb(19, 19, 19);
  }
  